*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}



body{
 
     background-color: purple;
    
    
  

}


.row{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR7YafecxJvHrtBdnkNwB9MVaHRjWdnzUMgQ&usqp=CAU");
    background-size: 7in;
    border-radius: 30px;
    color: #ffffff;
    
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

