<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About The G.O.A.T.</title>
 <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1> Gaming Online AnyTime</h1>


<p> Gaming online Any Time was derived from the idea of Gamble Online Any Time and maybe eventually revert back to its original premise. <br>
<br>
	Our site was founded with one idea in mind "Lets Gamble! At Any Time!"<br>
	<br>
	
	We offer 24 hours 7 days a week functionality! We never close! <br>
	<br>
	We vow to fulfill all you habitual needs and wants when it comes to earning your leisure from the confines of one's home. <br>
	<br>
	So Feel free not ever have to go any where and Gamble/Game right here! <br>
	<br>
	We are in process of adding more features such as Live sports betting; virtual gambling tables; and slots! <br>
	<br>
	
	Please check back in the future for further updates!<br>
	<br>
	 <div class="row">
              
               <center>  <img class="img-Roulette" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRydT3JppSu8oUeLyLMEqN5_ngoRTwiGM9v9A&usqp=CAU" alt="">
                    
                </div></center>
                <nav class="navbar about">
	<footer>
	We are available to answer all questions and concerns as well, so if you have something on your mind<br>
	<br>
	Feel free to shoot us an email @-The.g.o.a.t.club@gmail.com<br>
	</footer>
	</nav>
</body>
</html>