<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>JavaScript Hangman Game</title>
    <link rel="stylesheet" href="/css/Hang.css" />
</head>

<body>
	<h1><center>HangMan</center></h1>
    <div id="wrapper">
        <div id="status"><img src="/img/status_0.gif"
 alt="Current Status" id="current-status" /></div>


        <div id="inputs"></div>
        <div id="buttons"></div>
        <p id="results"></p>
    </div>

    <script src="/js/Hang.js"></script>
</body>

</html>