<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Rules</title>
<link rel="stylesheet" href="/css/GambleGames.css">
</head>
<body>
<h1>Rule of Thumb
</h1>

<p> Each game has its own interactive features, <br>
<br>
upon completion of membership purchase you may select a game and enact upon its interactive features. <br>
<br>
Live sports betting and casino play will ensue upon proper licensing and agreements,<br>
<br>
and interactive functions shall be administered similarly.<br>
<br>
However until this time register! sign in make a purchase and enjoy!
</p>
</body>
</html>